language: php
sudo: false

php:
  - 5.6
  - 7
  - 7.1
  - hhvm

before_script:

  - composer self-update
  - composer update

script:
  - vendor/bin/phpunit --coverage-text --coverage-clover=coverage.clover -d -q=brownfox;

after_script:
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover coverage.clover
